<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="5OASUEntity" connectionString="metadata=res://*/Model.OASU.csdl|res://*/Model.OASU.ssdl|res://*/Model.OASU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TDA-noot\SQLEXPRESS;initial catalog=db1146;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="2OASUEntity" connectionString="metadata=res://*/Model.OASU.csdl|res://*/Model.OASU.ssdl|res://*/Model.OASU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LOCAL)\SQLEXPRESS;initial catalog=db1146;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="1OASUEntity" connectionString="metadata=res://*/Model.OASU.csdl|res://*/Model.OASU.ssdl|res://*/Model.OASU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TDA-pc\SQLEXPRESS;initial catalog=db1146;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="4OASUEntity" connectionString="metadata=res://*/Model.OASU.csdl|res://*/Model.OASU.ssdl|res://*/Model.OASU.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tda-pc\sqlexpress;initial catalog=DB1146;persist security info=True;user id=sa;password=mamov7294;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <DP.Properties.Settings>
      <setting name="dataBase" serializeAs="String">
        <value>TDA-pc\SQLEXPRESS</value>
      </setting>
      <setting name="loginSelect" serializeAs="String">
        <value>0</value>
      </setting>
    </DP.Properties.Settings>
  </userSettings>
</configuration>